<p>este es el servicio</p>

<app-post
  *ngFor="let inf of infs | async"
  [inf]="inf"
  (clickPost)="escuchaClick($event)"
></app-post>
<!-- <ul class="list-group">
    <li class="list-group" *ngFor="let inf of infs">
        <h4>{{inf.title}}</h4>
        <p>{{inf.body}}</p>
        </li>
</ul> -->
